<div class="container" style="margin-top: 80px!important;">
  <h2>Welcome to SRF Docs!</h2>
  <p>
    This documentation will guide you through the installation, usage, and development of our project. It will also
    provide you with the necessary information to understand the design, architecture, and features of SRF.
  </p>

  <h3>SRF Core (Web)</h3>
  <div class="accordion my-2">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#docs-introduction"
          aria-expanded="true" aria-controls="docs-introduction">
          Introduction
        </button>
      </h2>
      <div id="docs-introduction" class="accordion-collapse collapse show" data-bs-parent="#docs-introduction">
        <div class="accordion-body">
          <p>Get a quick introduction to learn everything about SRF</p>
          <a href="docs/introduction@1.0" class="btn btn-outline-secondary">Introduction</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#docs-get-started" aria-expanded="false" aria-controls="docs-get-started">
          Get Started
        </button>
      </h2>
      <div id="docs-get-started" class="accordion-collapse collapse" data-bs-parent="#docs-get-started">
        <div class="accordion-body">
          <p>Get started using SRF</p>
          <a href="docs/get-started@v1.0" class="btn btn-outline-secondary">Get Started</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#docs-installation" aria-expanded="false" aria-controls="docs-installation">
          Installation
        </button>
      </h2>
      <div id="docs-installation" class="accordion-collapse collapse" data-bs-parent="#docs-installation">
        <div class="accordion-body">
          <p>Learn how to install our project on your system and how to configure it according to your needs.</p>
          <a href="docs/installation@v1.0" class="btn btn-outline-secondary">Installation</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#docs-tutorials" aria-expanded="false" aria-controls="docs-tutorials">
          Tutorials
        </button>
      </h2>
      <div id="docs-tutorials" class="accordion-collapse collapse" data-bs-parent="#docs-tutorials">
        <div class="accordion-body">
          <p>Tutorials about SRF framework and example use cases.</p>
          <a href="docs/tutorials@v1.0" class="btn btn-outline-secondary">Tutorials</a>
        </div>
      </div>
    </div>
  </div>

  <h3>SRF Components (Bootstrap)</h3>
  <a class="btn btn-outline-secondary" href="/docs/components@1.0">See Documentation</a>

  <p>
    We hope you enjoy using our project and find this documentation helpful. If you have any feedback or questions,
    please feel free to contact us or join our community.
  </p>
</div>

<!-- Footer -->
<footer class="footer mt-4">
  <div class="container">
    <span>&copy; 2023 devsimsek. All rights reserved.</span>
    <ul class="nav">
      <li><a out="true" href="https://devsimsek.mit-license.org" class="nav-link">License</a></li>
    </ul>
  </div>
</footer>