<!-- Hero Section -->
<section class="hero my-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1>Welcome to <strong>SRF</strong><br>v1.0 - Early Development</h1>
        <div class="rounded p-3 my-2 bg-light text-dark">
          <span>A powerful and flexible framework for building modern web applications.</span>
        </div>
        <a href="docs/introduction@1.0" class="btn btn-primary">Get Started</a>
      </div>
      <div class="col-lg-6">
        <img src="/assets/images/logo.png" alt="SRF Logo" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<!-- Features Section -->
<section class="features my-4">
  <div class="container">
    <h2>Key Features</h2>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="feature">
          <i class="bi bi-lightning"></i>
          <h3>Fast As Every Javascript Framework</h3>
          <p>Optimized for performance to deliver a lightning-fast user experience.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <i class="bi bi-puzzle"></i>
          <h3>Modular and Scalable</h3>
          <p>Designed with a modular architecture to make your projects scalable and maintainable.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <i class="bi bi-code"></i>
          <h3>Easy to Integrate</h3>
          <p>The whole framework is designed with small code which is so easy to integrate.</p>
          <a href="/docs/api-integration" class="btn btn-outline-secondary">See Examples</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Roadmap Section -->
<section class="my-4">
  <div class="container">
    <h2>Roadmap And Future Plans</h2>
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#fp-component"
            aria-expanded="true" aria-controls="fp-component">
            Component Registry
          </button>
        </h2>
        <div id="fp-component" class="accordion-collapse collapse show" data-bs-parent="#fp-component">
          <div class="accordion-body">
            SRF project aims to be <strong>more than just a simple router</strong>. This will be a framework which you
            can <strong>generate ui without actually designing stuff</strong>. I plan to implement this feature using
            <strong>bootstrap</strong>, <strong>tailwind</strong> and my own little css framework.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#fp-modular" aria-expanded="false" aria-controls="fp-modular">
            Modular Structure
          </button>
        </h2>
        <div id="fp-modular" class="accordion-collapse collapse" data-bs-parent="#fp-modular">
          <div class="accordion-body">
            SRF will be all modular. You will choose what features would you like to include on your app using @srf/cli
            (soon...)
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#fp-appsupport" aria-expanded="false" aria-controls="fp-appsupport">
            Native Application Support
          </button>
        </h2>
        <div id="fp-appsupport" class="accordion-collapse collapse" data-bs-parent="#fp-appsupport">
          <div class="accordion-body">
            SRF is not only a web framework. My goal is to make SRF multiplatform and able to run applications using your mobile devices and more!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Documentation Section -->
<section class="documentation my-4">
  <div class="container">
    <h2>Documentation</h2>
    <p>Explore our comprehensive documentation to get started with SRF.</p>
    <a href="docs" class="btn btn-secondary">View Documentation</a>
  </div>
</section>

<!-- Footer -->
<footer class="footer mt-4">
  <div class="container">
    <span>&copy; 2023 devsimsek. All rights reserved.</span>
    <ul class="nav">
      <li><a out="true" href="https://devsimsek.mit-license.org" class="nav-link">License</a></li>
    </ul>
  </div>
</footer>